{
  "parser": "babel-eslint",
  "extends": ["airbnb"],
  "rules": {
    "import/no-extraneous-dependencies": 1,
    "react/jsx-filename-extension": 0,
    "no-console": 0,
    "no-underscore-dangle": 0,
    "react/prop-types": 0
  },
  "globals": {
    "fetch": true
  },
  "env": {
    "jest": true,
    "browser": true,
    "es6": true
  }
}
